
<div class="container  p-xxl-5 mt-xl-5">
    <h1></h1>
</div>


<div class="container p-5 my-5 border text-center bg-success">
    <h1 id="show-p-h1" class="text-black">HandMade Products</h1>
    <div class="col p-5 my-5 ">
        <a class="btn btn-outline-info rounded-3" asp-controller="Products" asp-action="Create">New Product</a>
    </div>
</div>

<div class="container p-5 my-5 border bg-info">
    
        @foreach (var product in Model)
        {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="row mt-5" style="width: 400px;">
                    <div id="card-products" class="card" >
                        <div class="card-body">
                            <img src="/Products-Images/@product.ImageFileName" class="card-img-top" style="width: 100%;" alt="Product Image">
                            <h5 class="card-title">@(product.Price.ToString("C", new System.Globalization.CultureInfo("sv-SE")))</h5>
                            <p class="card-text">@product.Brand</p>
                            <p class="card-text">@product.Name</p>
                            <p class="card-text">@product.Description</p>
                            <p class="text-info text-capitalize">
                                Send an email to the salesman
                                <a href="mailto:@product.Email">@product.Email</a>
                            </p>
                            <!-- Other product details -->
                        </div>
                    </div>
                    </div>
               
                </div>
                
            </div>
        }
    
</div>
